* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f5e7e1; }

span {
  color: #ab4493; }

main section {
  min-height: calc(100vh - 95px - 52px - 64px); }
  main section .contenedor_acerca_de {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    main section .contenedor_acerca_de .contenedor_acerca_de_mi {
      position: relative;
      text-align: center;
      width: 600px; }
    main section .contenedor_acerca_de .imagenes_acerca_de {
      margin: 10px;
      height: 450px;
      border-radius: 5%;
      border-color: white;
      border-style: solid; }
    main section .contenedor_acerca_de a {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 24px;
      padding-right: 24px;
      color: white;
      text-decoration: none;
      border-color: #dfd1cb;
      border-width: 2px;
      border-style: solid;
      font-family: "Kanit", sans-serif;
      border-radius: 5px;
      letter-spacing: 1px;
      font-size: medium; }
      main section .contenedor_acerca_de a:hover {
        background-color: #dfd1cb;
        border-radius: 10px;
        color: #062837;
        opacity: 0.7; }

main section .contenedor_acerca_de {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row; }
  main section .contenedor_acerca_de .imagen_acerca_de_mi {
    margin-bottom: 15px; }
    main section .contenedor_acerca_de .imagen_acerca_de_mi img {
      width: 550px;
      height: auto; }
  main section .contenedor_acerca_de .contenedor_texto_acerca_de_mi {
    width: 600px; }
    main section .contenedor_acerca_de .contenedor_texto_acerca_de_mi .texto_acerca_de_mi {
      text-align: justify;
      font-size: 1.1rem;
      font-family: "Bad Script", cursive;
      font-style: normal;
      font-weight: 500;
      color: #222229;
      line-height: 2; }
      main section .contenedor_acerca_de .contenedor_texto_acerca_de_mi .texto_acerca_de_mi em {
        font-weight: 700; }

main section .p_logged {
  text-align: right;
  font-family: "Kanit", sans-serif;
  font-size: .8rem;
  background-color: #062837;
  color: white;
  padding-right: 15px; }

main section .contenedor_acerca_de_mis_favoritas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr); }
  main section .contenedor_acerca_de_mis_favoritas .contenedor_item_acerca_de_mis_favoritas {
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    margin: 5px;
    position: relative;
    text-align: center;
    /*display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-end;*/ }
    main section .contenedor_acerca_de_mis_favoritas .contenedor_item_acerca_de_mis_favoritas img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      object-fit: cover; }
      main section .contenedor_acerca_de_mis_favoritas .contenedor_item_acerca_de_mis_favoritas img:hover {
        border-radius: 5px;
        border-style: solid;
        border-width: 3px;
        border-color: white; }
    main section .contenedor_acerca_de_mis_favoritas .contenedor_item_acerca_de_mis_favoritas .contenedor_impresion_foto {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background: transparent;
      color: white;
      /* Color del texto */
      /*padding-top: 6px;
                    padding-bottom: 6px;
                    padding-left: 12px;
                    padding-right: 12px;*/
      text-align: left;
      text-decoration: none; }
      main section .contenedor_acerca_de_mis_favoritas .contenedor_item_acerca_de_mis_favoritas .contenedor_impresion_foto h4 {
        color: white;
        font-family: "Kanit", sans-serif;
        text-shadow: 1px 1px 2px black; }
      main section .contenedor_acerca_de_mis_favoritas .contenedor_item_acerca_de_mis_favoritas .contenedor_impresion_foto p {
        color: white;
        font-family: "Kanit", sans-serif;
        text-shadow: 1px 1px 2px black; }
    main section .contenedor_acerca_de_mis_favoritas .contenedor_item_acerca_de_mis_favoritas .btn-imprimir-menos {
      position: absolute;
      top: 10px;
      left: 10px;
      background: transparent;
      color: white;
      border: 1px solid white;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 14px;
      padding-right: 14px;
      text-align: center;
      text-decoration: none;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 4px;
      text-shadow: 1px 1px 2px black;
      box-shadow: 1px 1px 2px black; }
      main section .contenedor_acerca_de_mis_favoritas .contenedor_item_acerca_de_mis_favoritas .btn-imprimir-menos:hover {
        background: #f5e7e1;
        color: #062837;
        text-shadow: 1px 1px 2px white;
        box-shadow: 1px 1px 2px white; }
    main section .contenedor_acerca_de_mis_favoritas .contenedor_item_acerca_de_mis_favoritas .btn-imprimir-mas {
      position: absolute;
      top: 10px;
      left: 110px;
      background: transparent;
      color: white;
      border: 1px solid white;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 12px;
      padding-right: 12px;
      text-align: center;
      text-decoration: none;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 4px;
      text-shadow: 1px 1px 2px black;
      box-shadow: 1px 1px 2px black; }
      main section .contenedor_acerca_de_mis_favoritas .contenedor_item_acerca_de_mis_favoritas .btn-imprimir-mas:hover {
        background: #f5e7e1;
        color: #062837;
        text-shadow: 1px 1px 2px white;
        box-shadow: 1px 1px 2px white; }
    main section .contenedor_acerca_de_mis_favoritas .contenedor_item_acerca_de_mis_favoritas .count-btn-imprimir {
      position: absolute;
      top: 10px;
      left: 60px;
      background: transparent;
      color: white;
      border: 1px solid white;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 12px;
      padding-right: 12px;
      text-align: center;
      text-decoration: none;
      font-size: 1rem;
      border-radius: 4px;
      text-shadow: 1px 1px 2px black;
      box-shadow: 1px 1px 2px black; }

#contador-foto-carrito {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px; }

main section {
  min-height: calc(100vh - 95px - 52px - 64px); }
  main section .acordeon-total .accordion-item .accordion-header button {
    color: #062837;
    font-family: "Kanit", sans-serif; }
  main section .acordeon-total .accordion-item .accordion-collapse {
    background-color: #F8F4F2; }
    main section .acordeon-total .accordion-item .accordion-collapse .accordion-body .card {
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px; }
      main section .acordeon-total .accordion-item .accordion-collapse .accordion-body .card .card-body .card-text {
        font-family: "Bad Script", cursive;
        font-size: 1.1rem;
        color: #4d4d4d; }
      main section .acordeon-total .accordion-item .accordion-collapse .accordion-body .card .card-body .boton-ir-web {
        background-color: #062837;
        border-color: #062837;
        border-style: solid;
        border-radius: 10px; }

main section .container-contacto {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  gap: 3px 3px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: start;
  grid-template-areas: "foto1 foto2" "area-contacto area-contacto"; }
  main section .container-contacto .foto1 {
    grid-area: foto1;
    margin: 10px 10px 10px 10px; }
    main section .container-contacto .foto1 img {
      border-radius: 5%;
      width: 100%;
      height: auto; }
  main section .container-contacto .foto2 {
    grid-area: foto2;
    margin: 10px 10px 10px 10px; }
    main section .container-contacto .foto2 img {
      border-radius: 5%;
      width: 100%;
      height: auto; }
  main section .container-contacto .area-contacto {
    grid-area: area-contacto;
    height: auto; }
    main section .container-contacto .area-contacto .contacto {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      main section .container-contacto .area-contacto .contacto .form-pag-contacto {
        padding-right: 2rem; }

main section .contenedor_portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 0 auto;
  max-width: 900px; }
  main section .contenedor_portfolio .contenedor_item_portfolio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    text-align: center; }
    main section .contenedor_portfolio .contenedor_item_portfolio img {
      width: 100%;
      height: auto;
      opacity: 1;
      border-radius: 5px; }
    main section .contenedor_portfolio .contenedor_item_portfolio a {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 24px;
      padding-right: 24px;
      color: white;
      text-decoration: none;
      border-color: #dfd1cb;
      border-width: 2px;
      border-style: solid;
      box-shadow: 1px 1px 10px black;
      font-family: "Kanit", sans-serif;
      border-radius: 5px;
      letter-spacing: 1px;
      text-shadow: 1px 1px 2px black;
      font-size: medium; }
      main section .contenedor_portfolio .contenedor_item_portfolio a:hover {
        background-color: #dfd1cb;
        border-radius: 5px;
        color: #062837;
        opacity: 0.8;
        text-shadow: none; }
    main section .contenedor_portfolio .contenedor_item_portfolio .sombra_negra {
      text-shadow: 1px 1px 2px black; }

main section .contenedor_abstracto {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 5px 5px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center; }
  main section .contenedor_abstracto .contenedor_item_abstracto {
    height: 0;
    padding-bottom: 100%;
    overflow: hidden; }
    main section .contenedor_abstracto .contenedor_item_abstracto img {
      width: 100%;
      height: auto;
      opacity: .7;
      object-fit: scale-down;
      transition: transform 1s ease-out;
      border: 2px white solid; }
      main section .contenedor_abstracto .contenedor_item_abstracto img:hover {
        /*border-radius: 5px;  
                        border-style: solid; 
                        border-width: 3px; 
                        border-color: white; */
        transform: scale(1.2);
        opacity: 1;
        border: 2px white solid; }

main section .contenedor_portfolio_paisajes {
  display: grid;
  grid-template-columns: repear(3, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 5px 5px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas: "foto-vert-1 foto-horiz-1 foto-horiz-1" "foto-vert-1 foto-cuad-2 foto-cuad-1" "foto-cuad-3 foto-cuad-4 foto-cuad-5" "foto-horiz-2 foto-horiz-2 foto-cuad-6" "foto-cuad-7 foto-cuad-8 foto-cuad-9" "foto-cuad-10 foto-horiz-3 foto-horiz-3" "foto-horiz-4 foto-horiz-4 foto-cuad-11" "foto-cuad-12 foto-cuad-13 foto-vert-2" "foto-horiz-5 foto-horiz-5 foto-vert-2" "foto-cuad-14 foto-horiz-6 foto-horiz-6" "foto-horiz-7 foto-horiz-7 foto-cuad-15" "foto-horiz-8 foto-horiz-8 foto-cuad-16"; }
  main section .contenedor_portfolio_paisajes .foto-horizontal {
    border: 2px white solid;
    overflow: hidden; }
    main section .contenedor_portfolio_paisajes .foto-horizontal img {
      width: 100%;
      height: auto;
      transition: transform 1s ease-out;
      opacity: 0.7;
      object-fit: cover; }
      main section .contenedor_portfolio_paisajes .foto-horizontal img:hover {
        transform: scale(1.2);
        opacity: 1; }
  main section .contenedor_portfolio_paisajes .foto-vertical {
    border: 2px white solid;
    overflow: hidden; }
    main section .contenedor_portfolio_paisajes .foto-vertical img {
      height: auto;
      width: 100%;
      transition: transform 1s ease-out;
      opacity: 0.7;
      object-fit: cover; }
      main section .contenedor_portfolio_paisajes .foto-vertical img:hover {
        transform: scale(1.2);
        opacity: 1; }
  main section .contenedor_portfolio_paisajes .foto-cuadrada {
    border: 2px white solid;
    overflow: hidden; }
    main section .contenedor_portfolio_paisajes .foto-cuadrada img {
      width: 100%;
      height: auto;
      transition: transform 1s ease-out;
      opacity: 0.7;
      object-fit: cover; }
      main section .contenedor_portfolio_paisajes .foto-cuadrada img:hover {
        transform: scale(1.2);
        opacity: 1; }
  main section .contenedor_portfolio_paisajes .foto-horiz-1 {
    grid-area: foto-horiz-1; }
  main section .contenedor_portfolio_paisajes .foto-horiz-2 {
    grid-area: foto-horiz-2; }
  main section .contenedor_portfolio_paisajes .foto-horiz-3 {
    grid-area: foto-horiz-3; }
  main section .contenedor_portfolio_paisajes .foto-horiz-4 {
    grid-area: foto-horiz-4; }
  main section .contenedor_portfolio_paisajes .foto-horiz-5 {
    grid-area: foto-horiz-5; }
  main section .contenedor_portfolio_paisajes .foto-horiz-6 {
    grid-area: foto-horiz-6; }
  main section .contenedor_portfolio_paisajes .foto-horiz-7 {
    grid-area: foto-horiz-7; }
  main section .contenedor_portfolio_paisajes .foto-horiz-8 {
    grid-area: foto-horiz-8; }
  main section .contenedor_portfolio_paisajes .foto-vert-1 {
    grid-area: foto-vert-1; }
  main section .contenedor_portfolio_paisajes .foto-vert-2 {
    grid-area: foto-vert-2; }
  main section .contenedor_portfolio_paisajes .foto-cuad-1 {
    grid-area: foto-cuad-1; }
  main section .contenedor_portfolio_paisajes .foto-cuad-2 {
    grid-area: foto-cuad-2; }
  main section .contenedor_portfolio_paisajes .foto-cuad-3 {
    grid-area: foto-cuad-3; }
  main section .contenedor_portfolio_paisajes .foto-cuad-4 {
    grid-area: foto-cuad-4; }
  main section .contenedor_portfolio_paisajes .foto-cuad-5 {
    grid-area: foto-cuad-5; }
  main section .contenedor_portfolio_paisajes .foto-cuad-6 {
    grid-area: foto-cuad-6; }
  main section .contenedor_portfolio_paisajes .foto-cuad-7 {
    grid-area: foto-cuad-7; }
  main section .contenedor_portfolio_paisajes .foto-cuad-8 {
    grid-area: foto-cuad-8; }
  main section .contenedor_portfolio_paisajes .foto-cuad-9 {
    grid-area: foto-cuad-9; }
  main section .contenedor_portfolio_paisajes .foto-cuad-10 {
    grid-area: foto-cuad-10; }
  main section .contenedor_portfolio_paisajes .foto-cuad-11 {
    grid-area: foto-cuad-11; }
  main section .contenedor_portfolio_paisajes .foto-cuad-12 {
    grid-area: foto-cuad-12; }
  main section .contenedor_portfolio_paisajes .foto-cuad-13 {
    grid-area: foto-cuad-13; }
  main section .contenedor_portfolio_paisajes .foto-cuad-14 {
    grid-area: foto-cuad-14; }
  main section .contenedor_portfolio_paisajes .foto-cuad-15 {
    grid-area: foto-cuad-15; }
  main section .contenedor_portfolio_paisajes .foto-cuad-16 {
    grid-area: foto-cuad-16; }

main section .contenedor_portfolio_retratos {
  display: grid;
  grid-template-columns: repear(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px 5px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas: "foto-cuad-1 foto-cuad-2 foto-cuad-3" "foto-cuad-4 foto-cuad-5 foto-cuad-6" "foto-cuad-7 foto-cuad-8 foto-cuad-9" "foto-cuad-10 foto-cuad-11 foto-cuad-12" "foto-cuad-13 foto-cuad-14 foto-cuad-15" "foto-cuad-16 foto-cuad-17 foto-cuad-18"; }
  main section .contenedor_portfolio_retratos .foto-cuadrada {
    border: 2px white solid;
    overflow: hidden; }
    main section .contenedor_portfolio_retratos .foto-cuadrada img {
      width: 100%;
      height: auto;
      transition: transform 1s ease-out;
      opacity: 0.7;
      object-fit: cover; }
      main section .contenedor_portfolio_retratos .foto-cuadrada img:hover {
        transform: scale(1.2);
        opacity: 1; }
  main section .contenedor_portfolio_retratos .foto-cuad-1 {
    grid-area: foto-cuad-1; }
  main section .contenedor_portfolio_retratos .foto-cuad-2 {
    grid-area: foto-cuad-2; }
  main section .contenedor_portfolio_retratos .foto-cuad-3 {
    grid-area: foto-cuad-3; }
  main section .contenedor_portfolio_retratos .foto-cuad-4 {
    grid-area: foto-cuad-4; }
  main section .contenedor_portfolio_retratos .foto-cuad-5 {
    grid-area: foto-cuad-5; }
  main section .contenedor_portfolio_retratos .foto-cuad-6 {
    grid-area: foto-cuad-6; }
  main section .contenedor_portfolio_retratos .foto-cuad-7 {
    grid-area: foto-cuad-7; }
  main section .contenedor_portfolio_retratos .foto-cuad-8 {
    grid-area: foto-cuad-8; }
  main section .contenedor_portfolio_retratos .foto-cuad-9 {
    grid-area: foto-cuad-9; }
  main section .contenedor_portfolio_retratos .foto-cuad-10 {
    grid-area: foto-cuad-10; }
  main section .contenedor_portfolio_retratos .foto-cuad-11 {
    grid-area: foto-cuad-11; }
  main section .contenedor_portfolio_retratos .foto-cuad-12 {
    grid-area: foto-cuad-12; }
  main section .contenedor_portfolio_retratos .foto-cuad-13 {
    grid-area: foto-cuad-13; }
  main section .contenedor_portfolio_retratos .foto-cuad-14 {
    grid-area: foto-cuad-14; }
  main section .contenedor_portfolio_retratos .foto-cuad-15 {
    grid-area: foto-cuad-15; }
  main section .contenedor_portfolio_retratos .foto-cuad-16 {
    grid-area: foto-cuad-16; }
  main section .contenedor_portfolio_retratos .foto-cuad-17 {
    grid-area: foto-cuad-17; }
  main section .contenedor_portfolio_retratos .foto-cuad-18 {
    grid-area: foto-cuad-18; }

.contenedor_totales_y_boton {
  display: flex;
  background-color: #4d4d4d;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px; }
  .contenedor_totales_y_boton .pesos_subtotal, .contenedor_totales_y_boton .pesos_iva, .contenedor_totales_y_boton .pesos_total {
    font-family: "Kanit", sans-serif;
    color: #dfd1cb;
    text-shadow: 1px 1px 2px black; }
  .contenedor_totales_y_boton .boton_pagar {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 48px;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: medium; }

main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small; }

header .navbar-fondo {
  background-color: #062837; }
  header .navbar-fondo .container-fluid .cristian-mouguelar {
    font-size: 1.7rem;
    color: white;
    font-family: "Bad Script", cursive; }
  header .navbar-fondo .container-fluid .container-tres-rayitas {
    border-color: white;
    border-width: 3px; }
    header .navbar-fondo .container-fluid .container-tres-rayitas .tres-rayitas {
      background-image: url(../img/tres_rayitas.jpg);
      background-size: 180%; }
  header .navbar-fondo .container-fluid .collapse .navbar-nav .nav-item .item-menu-a {
    font-family: "Kanit", sans-serif;
    color: white;
    font-size: 1rem; }
    header .navbar-fondo .container-fluid .collapse .navbar-nav .nav-item .item-menu-a:hover {
      color: white;
      text-decoration: underline;
      text-shadow: 1px 1px 4px #f5e7e1; }

#contador-carrito {
  background-color: #10497F;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px; }

p {
  font-size: 16px;
  color: #0e0e0e; }

h1 {
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
  color: #0e0e0e;
  font-family: "Kanit", sans-serif;
  font-weight: 100; }

h3 {
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 30px;
  color: #0e0e0e; }

h5 {
  font-family: "Kanit", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #0e0e0e; }

main section .fotografia_hobby {
  padding-top: 20px;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 1.6rem;
  color: #0e0e0e; }

main .carousel .carousel-inner .carousel-item .carousel-item-img {
  width: 100%;
  height: 80vh;
  object-fit: cover; }

main .carousel .carousel-inner .carousel-item .carousel-caption .blanco {
  color: #dfd1cb; }

main .carousel .carousel-inner .carousel-item .carousel-caption .shadow_black {
  text-shadow: 1px 1px 2px black; }

main .carousel .carousel-inner .carousel-item .carousel-caption .shadow_white {
  text-shadow: 1px 1px 2px white; }

main article .titulo_frases {
  padding: 10px;
  padding-top: 30px;
  font-size: 1.3rem;
  font-family: "Kanit", sans-serif; }

main article .frase_fotografo {
  font-size: 1.3rem;
  font-family: "Bad Script", cursive;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
  color: #222229; }

main article .fotografo_frase {
  font-family: "Kanit", sans-serif;
  font-size: medium;
  padding-bottom: 35px;
  padding-left: 30px;
  font-weight: 500;
  color: #4d4d4d; }

main .formulario_contacto {
  width: 450px;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F8F4F2;
  padding-left: 20px; }
  main .formulario_contacto .formulario form p label {
    display: block;
    float: center;
    font-family: "Kanit", sans-serif; }
  main .formulario_contacto .formulario form p .titulos_form_contacto {
    font-size: 13px; }
  main .formulario_contacto .formulario form p input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px; }
  main .formulario_contacto .formulario form p textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px; }
  main .formulario_contacto .formulario form .boton_formulario {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #062837;
    border-color: #062837;
    border-style: solid;
    border-radius: 10px;
    width: 405px;
    cursor: pointer; }
    main .formulario_contacto .formulario form .boton_formulario p {
      color: white;
      font-family: "Kanit", sans-serif;
      padding-top: 6px; }

main .subFooter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: center;
  justify-content: space-between; }
  main .subFooter .volver_arriba {
    display: flex;
    padding-right: 10px;
    padding-bottom: 10px;
    align-items: end;
    justify-content: space-between; }
    main .subFooter .volver_arriba .volver_arriba_texto {
      /*
                text-decoration: none;
                color: #0e0e0e;
                text-align: left;*/
      padding-left: 10px; }
      main .subFooter .volver_arriba .volver_arriba_texto img {
        transition: transform 0.5s ease-in-out;
        width: 28px; }
        main .subFooter .volver_arriba .volver_arriba_texto img:hover {
          transform: scale(1.2); }
  main .subFooter .volver_arriba_whatsapp {
    position: sticky;
    padding-right: 10px;
    padding-bottom: 10px; }

footer {
  background-color: #10497F;
  color: white;
  display: flex;
  justify-content: flex-start; }
  footer .footer_a1 {
    padding: 10px; }
  footer .footer_a2 {
    padding: 10px; }
  footer .footer_a3 {
    padding: 10px; }

@media only screen and (min-width: 576px) {
  .acordeon-total {
    width: 600px; }
  .pag-contacto {
    text-align: left;
    margin-left: 0.5rem; } }

@media only screen and (max-width: 576px) {
  header .navbar .container-fluid .cristian-mouguelar {
    font-size: 1.3rem; }
    header .navbar .container-fluid .cristian-mouguelar img {
      width: 59px;
      height: auto; }
  main section .carousel .carousel-inner .carousel-item .carousel-item-img {
    width: 100%;
    height: 40vh;
    object-fit: cover; }
  main section .contenedor_acerca_de .imagen_acerca_de_mi {
    margin-bottom: 15px; }
    main section .contenedor_acerca_de .imagen_acerca_de_mi img {
      max-width: 350px;
      width: 100%;
      height: auto; }
  main section .contenedor_acerca_de_mis_favoritas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 5px; }
    main section .contenedor_acerca_de_mis_favoritas .contenedor_item_acerca_de_mis_favoritas img {
      opacity: 1;
      padding: 5px; }
  main section .contenedor_portfolio {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    margin-left: 5px;
    margin-right: 5px; }
  main section .contenedor_abstracto {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(9, auto);
    margin-left: 5px;
    margin-right: 5px; }
    main section .contenedor_abstracto .contenedor_item_abstracto img {
      opacity: 1; }
  main section .contenedor_portfolio_paisajes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas: "foto-vert-1 foto-vert-2" "foto-vert-1 foto-vert-2" "foto-cuad-1 foto-cuad-2" "foto-cuad-3 foto-cuad-4" "foto-horiz-1 foto-horiz-1" "foto-horiz-2 foto-horiz-2" "foto-cuad-5 foto-cuad-6" "foto-cuad-7 foto-cuad-8" "foto-horiz-3 foto-horiz-3" "foto-horiz-4 foto-horiz-4" "foto-horiz-5 foto-horiz-5" "foto-cuad-9 foto-cuad-10" "foto-cuad-11 foto-cuad-12" "foto-horiz-6 foto-horiz-6" "foto-cuad-13 foto-cuad-14" "foto-horiz-7 foto-horiz-7" "foto-horiz-8 foto-horiz-8" "foto-cuad-15 foto-cuad-16";
    width: 100%; }
    main section .contenedor_portfolio_paisajes .foto-horizontal {
      border: 2px white solid;
      overflow: hidden; }
      main section .contenedor_portfolio_paisajes .foto-horizontal img {
        width: 100%;
        height: auto;
        transition: transform 1s ease-out;
        object-fit: cover;
        opacity: 1; }
        main section .contenedor_portfolio_paisajes .foto-horizontal img:hover {
          transform: scale(1.2); }
    main section .contenedor_portfolio_paisajes .foto-vertical {
      border: 2px white solid;
      overflow: hidden; }
      main section .contenedor_portfolio_paisajes .foto-vertical img {
        height: auto;
        width: 100%;
        transition: transform 1s ease-out;
        object-fit: cover;
        opacity: 1; }
        main section .contenedor_portfolio_paisajes .foto-vertical img:hover {
          transform: scale(1.2); }
    main section .contenedor_portfolio_paisajes .foto-cuadrada {
      border: 2px white solid;
      overflow: hidden; }
      main section .contenedor_portfolio_paisajes .foto-cuadrada img {
        width: 100%;
        height: auto;
        transition: transform 1s ease-out;
        object-fit: cover;
        opacity: 1; }
        main section .contenedor_portfolio_paisajes .foto-cuadrada img:hover {
          transform: scale(1.2);
          opacity: 1; }
    main section .contenedor_portfolio_paisajes .foto-vert-1 {
      grid-area: foto-vert-1; }
    main section .contenedor_portfolio_paisajes .foto-vert-2 {
      grid-area: foto-vert-2; }
    main section .contenedor_portfolio_paisajes .foto-horiz-1 {
      grid-area: foto-horiz-1; }
    main section .contenedor_portfolio_paisajes .foto-horiz-2 {
      grid-area: foto-horiz-2; }
    main section .contenedor_portfolio_paisajes .foto-horiz-3 {
      grid-area: foto-horiz-3; }
    main section .contenedor_portfolio_paisajes .foto-horiz-4 {
      grid-area: foto-horiz-4; }
    main section .contenedor_portfolio_paisajes .foto-horiz-5 {
      grid-area: foto-horiz-5; }
    main section .contenedor_portfolio_paisajes .foto-horiz-6 {
      grid-area: foto-horiz-6; }
    main section .contenedor_portfolio_paisajes .foto-horiz-7 {
      grid-area: foto-horiz-7; }
    main section .contenedor_portfolio_paisajes .foto-horiz-8 {
      grid-area: foto-horiz-8; }
    main section .contenedor_portfolio_paisajes .foto-cuad-1 {
      grid-area: foto-cuad-1; }
    main section .contenedor_portfolio_paisajes .foto-cuad-2 {
      grid-area: foto-cuad-2; }
    main section .contenedor_portfolio_paisajes .foto-cuad-3 {
      grid-area: foto-cuad-3; }
    main section .contenedor_portfolio_paisajes .foto-cuad-4 {
      grid-area: foto-cuad-4; }
    main section .contenedor_portfolio_paisajes .foto-cuad-5 {
      grid-area: foto-cuad-5; }
    main section .contenedor_portfolio_paisajes .foto-cuad-6 {
      grid-area: foto-cuad-6; }
    main section .contenedor_portfolio_paisajes .foto-cuad-7 {
      grid-area: foto-cuad-7; }
    main section .contenedor_portfolio_paisajes .foto-cuad-8 {
      grid-area: foto-cuad-8; }
    main section .contenedor_portfolio_paisajes .foto-cuad-9 {
      grid-area: foto-cuad-9; }
    main section .contenedor_portfolio_paisajes .foto-cuad-10 {
      grid-area: foto-cuad-10; }
    main section .contenedor_portfolio_paisajes .foto-cuad-11 {
      grid-area: foto-cuad-11; }
    main section .contenedor_portfolio_paisajes .foto-cuad-12 {
      grid-area: foto-cuad-12; }
    main section .contenedor_portfolio_paisajes .foto-cuad-13 {
      grid-area: foto-cuad-13; }
    main section .contenedor_portfolio_paisajes .foto-cuad-14 {
      grid-area: foto-cuad-14; }
    main section .contenedor_portfolio_paisajes .foto-cuad-15 {
      grid-area: foto-cuad-15; }
    main section .contenedor_portfolio_paisajes .foto-cuad-16 {
      grid-area: foto-cuad-16; }
  main section .contenedor_portfolio_retratos {
    display: grid;
    grid-template-columns: repear(1, 1fr);
    grid-template-rows: repeat(18, 1fr);
    gap: 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas: "foto-cuad-1" "foto-cuad-2" "foto-cuad-3" "foto-cuad-4" "foto-cuad-5" "foto-cuad-6" "foto-cuad-7" "foto-cuad-8" "foto-cuad-9" "foto-cuad-10" "foto-cuad-11" "foto-cuad-12" "foto-cuad-13" "foto-cuad-14" "foto-cuad-15" "foto-cuad-16" "foto-cuad-17" "foto-cuad-18"; }
    main section .contenedor_portfolio_retratos .foto-cuadrada {
      border: 2px white solid;
      overflow: hidden; }
      main section .contenedor_portfolio_retratos .foto-cuadrada img {
        width: 100%;
        height: auto;
        transition: transform 1s ease-out;
        opacity: 1;
        object-fit: cover; }
        main section .contenedor_portfolio_retratos .foto-cuadrada img:hover {
          transform: scale(1.2);
          opacity: 1; }
    main section .contenedor_portfolio_retratos .foto-cuad-1 {
      grid-area: foto-cuad-1; }
    main section .contenedor_portfolio_retratos .foto-cuad-2 {
      grid-area: foto-cuad-2; }
    main section .contenedor_portfolio_retratos .foto-cuad-3 {
      grid-area: foto-cuad-3; }
    main section .contenedor_portfolio_retratos .foto-cuad-4 {
      grid-area: foto-cuad-4; }
    main section .contenedor_portfolio_retratos .foto-cuad-5 {
      grid-area: foto-cuad-5; }
    main section .contenedor_portfolio_retratos .foto-cuad-6 {
      grid-area: foto-cuad-6; }
    main section .contenedor_portfolio_retratos .foto-cuad-7 {
      grid-area: foto-cuad-7; }
    main section .contenedor_portfolio_retratos .foto-cuad-8 {
      grid-area: foto-cuad-8; }
    main section .contenedor_portfolio_retratos .foto-cuad-9 {
      grid-area: foto-cuad-9; }
    main section .contenedor_portfolio_retratos .foto-cuad-10 {
      grid-area: foto-cuad-10; }
    main section .contenedor_portfolio_retratos .foto-cuad-11 {
      grid-area: foto-cuad-11; }
    main section .contenedor_portfolio_retratos .foto-cuad-12 {
      grid-area: foto-cuad-12; }
    main section .contenedor_portfolio_retratos .foto-cuad-13 {
      grid-area: foto-cuad-13; }
    main section .contenedor_portfolio_retratos .foto-cuad-14 {
      grid-area: foto-cuad-14; }
    main section .contenedor_portfolio_retratos .foto-cuad-15 {
      grid-area: foto-cuad-15; }
    main section .contenedor_portfolio_retratos .foto-cuad-16 {
      grid-area: foto-cuad-16; }
    main section .contenedor_portfolio_retratos .foto-cuad-17 {
      grid-area: foto-cuad-17; }
    main section .contenedor_portfolio_retratos .foto-cuad-18 {
      grid-area: foto-cuad-18; }
  main section article .frase_fotografo {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px; }
  main section .container-contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "foto1" "foto2" "area-contacto"; }
    main section .container-contacto .foto2 img {
      margin-top: -8rem; }
    main section .container-contacto .area-contacto {
      margin-top: -17rem; }
  main .formulario_contacto {
    width: 350px; }
    main .formulario_contacto .formulario form p input {
      width: 310px; }
    main .formulario_contacto .formulario form p textarea {
      width: 310px; }
    main .formulario_contacto .formulario form .boton_formulario {
      width: 310px; }
  .contenedor_texto_acerca_de_mi {
    padding-left: 10px;
    padding-right: 10px; }
  .acordeon-total {
    width: 350px; }
  .pag-contacto {
    text-align: left;
    margin-left: 0.5rem; } }
